* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: normal;
  line-height: 120%;
  color: #000;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  position: relative;
}
@font-face {
  font-family: 'Rubik-Regular';
  src: url(../fonts/Rubik-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url(../fonts/Rubik-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url(../fonts/Rubik-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'UnbuntoMono';
  src: url(../fonts/UbuntuMono-Bold.ttf);
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
.main-button {
  border: none;
  background: linear-gradient(94.11deg, #43A1FF 46.65%, #65B0FC 77.8%, #43A1FF 105.29%);
  border-radius: 20px;
  color: #fff;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 20px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
h3 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
h4 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 36px;
  text-align: center;
}
a.header__feedback {
  font-size: 20px;
  color: #FF4242;
  border: 4px solid #FF4242;
  border-radius: 20px;
  padding: 18px 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-left: 45px;
}
.animate-up {
  opacity: 0;
  transform: translateY(100px);
  transition: 0.3s all ease-in-out;
}
.animate-right {
  opacity: 0;
  transform: translateX(100px);
  transition: 0.3s all ease-in-out;
}
.animate {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  z-index: 25;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  position: relative;
  z-index: 25;
}
.header__logo h3 {
  text-align: left;
  font-size: 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 0;
}
.header__telegram {
  margin-left: auto;
}
.header__telegram img {
  max-width: 50px;
}
.header__menu {
  display: none;
}
.nav {
  position: relative;
  background: #fff;
}
.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 15;
}
.nav__item {
  padding: 30px 0px;
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
  border-right: 1px solid #E6E6E6;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  flex: 0 1 100%;
  min-height: 80px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav__item a {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
.nav__item:last-child {
  border-right: none;
  padding: 30px 10px;
}
.nav__item:hover {
  background: #43A1FF;
  color: #fff;
}
.nav-hover {
  background: #43A1FF;
  color: #fff;
}
.menu {
  position: relative;
  z-index: -1;
}
.menu__items {
  position: relative;
  z-index: 15;
}
.menu__item {
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  position: absolute;
  min-width: 300px;
  background: #fff;
  border: 1px solid #E6E6E6;
  transition: all 0.3s ease-in-out;
}
.menu__item ul li a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.menu__item ul li a:last-child {
  border: none;
}
.menu__item ul li a:hover {
  color: #fff;
  background: #43A1FF;
}
.menu__item-show {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.main {
  position: relative;
}
.main__wrapper {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.main__wrapper h1,
.main__wrapper h2 {
  color: #fff;
}
.main__wrapper h1 {
  max-width: 760px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 52px;
}
.main__wrapper h1 .typing {
  display: inline;
  color: #fff;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
.main__wrapper h1 .typing__wrapper {
  min-height: 170px;
}
.main__wrapper h1 .typed-cursor {
  color: #fff;
}
.main__wrapper h2 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
  max-width: 480px;
  font-size: 24px;
  margin-bottom: 30px;
}
.main video {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1080px;
  width: 100%;
  z-index: -1;
}
.main video.mobile {
  display: none;
}
.main:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.services {
  padding: 60px 0px;
  position: relative;
  z-index: 2;
  background: #fff;
}
.services__wrapper {
  padding: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 50px 74px;
}
.services__item {
  position: relative;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  padding: 40px;
  min-height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.services__item img {
  position: absolute;
  bottom: -20px;
  right: 0;
}
.services__item h5 {
  font-size: 24px;
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 40px;
}
.services__item:nth-child(5) {
  padding: 40px 10px 40px 40px;
}
.services__item:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #43A1FF;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 0.3s all linear;
  z-index: -1;
}
.services__item:hover h5,
.services__item:hover span.text {
  color: #fff;
}
.services__item:hover:before {
  left: 0%;
}
.services .animate-up:nth-child(2) {
  transition-delay: 0.3s;
}
.services .animate-up:nth-child(3) {
  transition-delay: 0.6s;
}
.services .animate-up:nth-child(5) {
  transition-delay: 0.3s;
}
.services .animate-up:nth-child(6) {
  transition-delay: 0.6s;
}
.steps {
  padding: 60px 0px;
  overflow: hidden;
}
.steps__wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.steps__item {
  background: #43A1FF;
  border-radius: 20px;
  position: relative;
  padding: 30px;
  min-height: 200px;
}
.steps__item img.icon {
  position: absolute;
  right: 15px;
  top: 30px;
}
.steps__item h6 {
  font-size: 36px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  color: #fff;
  margin-bottom: 15px;
}
.steps__item span.text {
  color: #fff;
  display: block;
  max-width: 80%;
}
.steps__item span.num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #43A1FF;
  font-size: 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  position: absolute;
  right: 15px;
  bottom: 30px;
}
.steps__item a {
  display: flex;
  align-items: center;
  width: 200px;
  height: 45px;
  background: #fff;
  color: #43A1FF;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  right: 0;
  bottom: 30px;
  font-size: 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  padding: 0px 20px;
}
.steps__item:last-child {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.steps__item:last-child img {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
}
.steps__item:nth-child(4) {
  background: #FFA843;
}
.steps__item:nth-child(4) span.num {
  color: #FFA843;
}
.steps .animate-up:nth-child(2) {
  transition-delay: 0.3s;
}
.steps .animate-up:nth-child(5) {
  transition-delay: 1s;
}
.steps .animate-up:nth-child(4) {
  transition-delay: 0.3s;
}
.safe {
  padding: 60px 0px;
  overflow: hidden;
}
.safe p {
  font-size: 20px;
  margin-top: 50px;
}
.safe__wrapper {
  display: flex;
  justify-content: space-between;
}
.safe__wrapper img {
  padding-left: 95px;
}
.advantage {
  padding: 60px 0px;
  overflow: hidden;
}
.advantage__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 50px 0px;
}
.advantage__item {
  background: #43A1FF;
  border-radius: 20px;
  padding: 30px 30px 45px 30px;
}
.advantage__item span.num,
.advantage__item span.text {
  color: #fff;
  display: block;
  text-align: center;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
.advantage__item span.num {
  font-size: 48px;
  margin-bottom: 20px;
}
.advantage__item span.text {
  font-size: 20px;
}
.advantage__content {
  display: flex;
  justify-content: space-between;
}
.advantage__text {
  padding-right: 95px;
}
.advantage__text p {
  margin-bottom: 20px;
  font-size: 20px;
}
.advantage .animate-up:nth-child(2) {
  transition-delay: 0.3s;
}
.advantage .animate-up:nth-child(3) {
  transition-delay: 0.6s;
}
.advantage .animate-up:nth-child(4) {
  transition-delay: 0.9s;
}
.faq {
  padding: 60px 0px;
}
.faq__wrapper {
  padding-top: 60px;
}
.faq__item {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.faq__question {
  padding: 30px 35px;
  background: #E6E6E6;
  font-size: 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  transition: 0.3s all ease-in-out;
}
.faq__question .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  margin-right: 35px;
}
.faq__question .icon span {
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s all ease-in-out;
}
.faq__question .icon span:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transition: 0.5s all ease-in-out;
}
.faq__answer {
  padding: 0px 100px;
  font-size: 20px;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.3s all ease-in-out;
}
.faq__question-active {
  margin-bottom: 0;
}
.faq__question-active .icon span {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}
.faq__question-active .icon span:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(360deg);
}
.faq__answer-active {
  height: 100%;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  padding: 20px 100px;
}
.usl {
  padding: 60px 0px;
  overflow: hidden;
}
.usl__wrapper {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.usl__content h6 {
  font-size: 32px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 20px;
}
.usl__content ul {
  margin-bottom: 50px;
}
.usl__content ul li {
  font-size: 20px;
}
.choise {
  padding: 60px 0px;
  overflow: hidden;
}
.choise__wrapper {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}
.choise__item {
  padding: 90px 50px 50px 50px;
  font-size: 20px;
  background: #999999 url(../img/icons/choise-no.svg) no-repeat;
  background-position: 95% 20px;
  background-size: 50px 50px;
  border-radius: 20px;
}
.choise__item p {
  color: #fff;
}
.choise__item:last-child {
  background: #43A1FF url(../img/icons/choise-ok.svg) no-repeat;
  background-position: 95% 20px;
}
.choise h5 {
  margin: 50px 0px 40px 0px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 36px;
}
.choise__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.choise__content-item {
  border-radius: 20px;
  background: #FFA843;
  padding: 30px 25px;
}
.choise__content-item .top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.choise__content-item .top img {
  margin-right: 20px;
}
.choise__content-item .top h6 {
  color: #fff;
  font-size: 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
.choise__content span.info {
  color: #fff;
}
.choise__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.choise__text p {
  font-size: 24px;
  padding-right: 90px;
}
.choise__text .main-button {
  min-width: 350px;
}
.choise .animate-up:nth-child(2) {
  transition-delay: 0.6s;
}
.choise .animate-up:nth-child(4) {
  transition-delay: 0.3s;
}
.choise .animate-up:nth-child(5) {
  transition-delay: 0.6s;
}
.option {
  padding: 60px 0px 80px 0px;
}
.option__wrapper {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
}
.option__wrapper a {
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  display: block;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  padding: 60px 0px;
  min-height: 300px;
  position: relative;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  transition: 0.3s all ease-in-out;
}
.option__wrapper a img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.option__wrapper a:before {
  content: '';
  background: #43A1FF;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: 0.3s all ease-in-out;
  z-index: -1;
}
.option__wrapper a:hover {
  color: #fff;
}
.option__wrapper a:hover:before {
  bottom: 0;
}
.option .animate-up:nth-child(2) {
  transition-delay: 0.3s;
}
.option .animate-up:nth-child(3) {
  transition-delay: 0.6s;
}
.option .animate-up:nth-child(4) {
  transition-delay: 0.9s;
}
.option .animate-up:nth-child(5) {
  transition-delay: 1.2s;
}
.option .animate-up:nth-child(6) {
  transition-delay: 1.5s;
}
.footer {
  padding: 50px 0px;
  background: #000;
}
.footer * {
  color: #fff;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 50px;
  position: relative;
}
.footer__logo h3 {
  text-align: left;
  font-size: 24px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 20px;
}
.footer span.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
}
.footer__nav a {
  display: block;
  margin-bottom: 15px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 20px;
}
.footer__nav a:last-child {
  margin-bottom: 0;
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__contacts-social a {
  display: block;
  margin: 8px;
  padding-left: 30px;
  position: relative;
}
.footer__contacts-social a.telegram:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icons/telegram-white.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.main-pages {
  position: relative;
  overflow: hidden;
}
.main-pages__wrapper {
  min-height: 700px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-pages__wrapper h1 {
  color: #fff;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 48px;
  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  margin-bottom: 30px;
}
.main-pages img {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 1920px;
  max-width: 1920px;
}
.main-pages-mobile {
  display: none;
}
.main-pages:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
.pages {
  padding: 60px 0px;
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
}
.pages h4 {
  margin-bottom: 50px;
}
.pages p {
  font-size: 20px;
}
.pages p a {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
  color: #43A1FF;
}
.pages__wrapper {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 80px;
}
.pages-category-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.pages-category-img {
  position: relative;
}
.pages-category-img img {
  min-width: 600px;
  max-width: 600px;
}
.list {
  padding: 60px 0px;
}
.list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding-bottom: 50px;
}
.list__item {
  display: flex;
  flex-direction: column;
}
.list__item-top {
  display: flex;
  align-items: center;
}
.list__item img {
  margin-right: 50px;
  max-width: 80px;
}
.list__item p {
  font-size: 20px;
  padding-left: 130px;
}
.list__item h5 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 40px;
}
.list__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 80px;
}
.list__card {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.list__card img {
  margin-right: 20px;
  max-width: 80px;
}
.list__card h5 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 40px;
}
.list__card p {
  font-size: 20px;
}
.stage {
  padding: 60px 0px;
}
.stage__wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stage__item {
  background: #FFFFFF;
  border: 5px solid #43A1FF;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stage__item-num {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: -5px;
  left: -5px;
  background: #43A1FF;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  font-size: 24px;
}
.stage__item span {
  display: block;
  margin-top: 20px;
}
.stage__item:before {
  content: '';
  height: 5px;
  width: 50px;
  background: #43A1FF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -95px;
}
.stage__item:last-child {
  border: 5px solid #FFA843;
}
.stage__item:last-child .stage__item-num {
  background: #FFA843;
}
.stage__item:last-child::before {
  display: none;
}
.send {
  margin: 60px 0px;
}
.send * {
  color: #fff;
}
.send__wrapper {
  border-radius: 20px;
  background: #43A1FF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 80px;
}
.send__trigger {
  display: block;
  text-align: center;
}
.send__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
}
.send__trigger {
  font-size: 24px;
}
.send .today {
  display: inline;
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
.send__button {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 80px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #f4f4f4;
}
.send__button-img {
  padding: 20px;
  background: #f4f4f4;
}
.send__button-img img {
  max-width: 40px;
}
.send__button-text {
  font-size: 18px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  padding: 0px 30px;
  color: #000;
}
.buttons {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message {
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 500px;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), -4px -4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  transform: translateX(105%);
  transition: 0.5s all ease-in-out;
}
.message__img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100%;
  background: #f4f4f4;
}
.message__img img {
  max-width: 50px;
}
.message__text {
  padding: 10px 30px;
  background: #fff;
  min-width: 400px;
  max-height: 100%;
}
.message__text span {
  display: block;
}
.message__text-new {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 10px;
}
.message__text-text {
  font-size: 14px;
}
.message__text .today {
  display: inline;
}
.message__link {
  color: #43A1FF;
}
.message__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.message__close span {
  width: 20px;
  height: 2px;
  background: #c4c4c4;
}
.message__close span:first-child {
  transform: translateY(5px) rotate(45deg);
}
.message__close span:last-child {
  transform: translateY(-5px) rotate(-45deg);
}
.message-show {
  transform: translateX(0);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
.popup__body {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  padding: 50px;
  background: #fff;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-105%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup__header,
.popup__trigger {
  display: block;
  text-align: center;
}
.popup__header {
  font-size: 38px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 30px;
}
.popup__trigger {
  font-size: 24px;
}
.popup .today {
  display: inline;
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: normal;
  line-height: 120%;
}
.popup__button {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 80px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #f4f4f4;
}
.popup__button-img {
  padding: 20px;
  background: #f4f4f4;
}
.popup__button-img img {
  max-width: 40px;
}
.popup__button-text {
  font-size: 18px;
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: normal;
  line-height: 120%;
  padding: 0px 30px;
}
.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.popup__close span {
  width: 20px;
  height: 2px;
  background: #c4c4c4;
}
.popup__close span:first-child {
  transform: translateY(5px) rotate(45deg);
}
.popup__close span:last-child {
  transform: translateY(-5px) rotate(-45deg);
}
.popup-show {
  visibility: visible;
  opacity: 1;
}
.popup__body-show {
  animation: popupAnimate 0.5s ease-in-out forwards;
}
@keyframes popupAnimate {
  0% {
    top: 0%;
    transform: translateX(-50%) translateY(-105%);
  }
  50% {
    top: 50%;
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #43A1FF url(../img/icons/choise-2.svg) no-repeat center;
  background-size: 50px 50px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.circle:before {
  content: '';
  width: 90px;
  height: 90px;
  background: url(../img/icons/button.svg) no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: circleAnimate 10s infinite linear;
}
.circle-up {
  bottom: 150px;
}
@keyframes circleAnimate {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
.feedback__photo {
  padding: 60px 0px;
}
.feedback__photo-wrapper {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.feedback__photo-wrapper img {
  width: 100%;
  cursor: pointer;
}
.feedback__video {
  padding: 60px 0px;
}
.feedback__video-wrapper {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding-bottom: 50px;
}
.feedback__video-item video {
  max-width: 100%;
}
.fancybox__container * {
  color: #fff;
}
@media (max-width: 1180px) {
  .container {
    max-width: none;
    padding: 0px 20px;
  }
  .main video {
    top: -300px;
    height: 900px;
    width: 100%;
  }
  .services__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .services__item img {
    bottom: -20px;
  }
  .services__item:nth-child(5) {
    padding: 40px;
  }
  .steps {
    padding: 60px 0px;
  }
  .steps__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .steps__item:last-child {
    display: none;
  }
  .advantage__wrapper {
    grid-gap: 30px;
  }
  .advantage__item span.num {
    font-size: 36px;
  }
  .advantage__item span.text {
    font-size: 16px;
  }
  .advantage__content img {
    max-width: 300px;
  }
  .choise__wrapper {
    grid-gap: 30px;
  }
  .choise__content {
    grid-gap: 30px;
  }
  .stage__item::before {
    display: none;
  }
}
@media (max-width: 950px) {
  .main video {
    top: -100px;
    height: 600px;
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 1180px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
  }
  .main-button {
    font-size: 18px;
    width: 300px;
    height: 50px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 24px;
  }
  a.header__feedback {
    font-size: 18px;
    padding: 12px 24px;
    margin-left: 20px;
  }
  .header__wrapper {
    padding: 10px 0px;
  }
  .header__logo h3 {
    font-size: 22px;
  }
  .header__telegram {
    margin-left: auto;
  }
  .header__telegram img {
    max-width: 50px;
  }
  .header__menu {
    display: none;
  }
  .nav__item {
    padding: 20px 15px;
    min-height: 60px;
    max-height: 60px;
    font-size: 14px;
  }
  .nav__item a {
    font-size: 14px;
  }
  .nav__item:nth-child(4) {
    min-width: 90px;
  }
  .nav__item:last-child {
    padding: 20px 0px;
    min-width: 90px;
  }
  .menu__item {
    min-width: 250px;
  }
  .menu__item ul li a {
    padding: 15px 7px;
    font-size: 14px;
  }
  .main__wrapper {
    min-height: 400px;
  }
  .main__wrapper h1 {
    max-width: 80%;
    font-size: 34px;
    margin-bottom: 10px;
  }
  .main__wrapper h1 .typing__wrapper {
    min-height: 90px;
  }
  .main__wrapper h2 {
    max-width: 400px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .main video.mobile {
    display: none;
  }
  .services {
    padding: 50px 0px;
  }
  .services__wrapper {
    padding: 40px 0px 0px 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .services__item {
    padding: 30px;
  }
  .services .animate-up:nth-child(2) {
    transition-delay: 0.3s;
  }
  .services .animate-up:nth-child(3) {
    transition-delay: 0s;
  }
  .services .animate-up:nth-child(4) {
    transition-delay: 0.3s;
  }
  .services .animate-up:nth-child(5) {
    transition-delay: 0s;
  }
  .services .animate-up:nth-child(6) {
    transition-delay: 0.3s;
  }
  .steps {
    padding: 50px 0px;
  }
  .steps__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .steps__item {
    padding: 20px;
  }
  .steps__item img.icon {
    top: 20px;
    max-width: 50px;
  }
  .steps__item h6 {
    font-size: 24px;
  }
  .steps .animate-up:nth-child(2) {
    transition-delay: 0.3s;
  }
  .steps .animate-up:nth-child(4) {
    transition-delay: 0.3s;
  }
  .safe {
    padding: 50px 0px;
  }
  .safe p {
    font-size: 1em;
    margin-top: 50px;
  }
  .safe__wrapper {
    flex-direction: column;
  }
  .safe__wrapper img {
    padding-left: 0px;
    max-width: 300px;
    display: block;
    margin: 30px auto 0px auto;
  }
  .advantage {
    padding: 50px 0px;
  }
  .advantage__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 40px 0px;
  }
  .advantage__content {
    flex-direction: column;
  }
  .advantage__content img {
    padding-left: 0px;
    max-width: 400px;
    display: block;
    margin: 30px auto 0px auto;
  }
  .advantage__text {
    padding-right: 0px;
  }
  .advantage__text p {
    margin-bottom: 20px;
    font-size: 1em;
  }
  .advantage .animate-up:nth-child(2) {
    transition-delay: 0.3s;
  }
  .advantage .animate-up:nth-child(3) {
    transition-delay: 0.6s;
  }
  .advantage .animate-up:nth-child(4) {
    transition-delay: 0.9s;
  }
  .usl {
    padding: 50px 0px;
  }
  .usl__wrapper {
    padding-top: 40px;
    align-items: center;
  }
  .usl__content h6 {
    font-size: 28px;
  }
  .usl__content ul {
    margin-bottom: 30px;
  }
  .usl__content ul li {
    font-size: 1em;
  }
  .usl img {
    padding-left: 30px;
    display: block;
    margin: 0px 0px 0px auto;
  }
  .faq {
    padding: 50px 0px;
  }
  .faq__wrapper {
    padding-top: 40px;
  }
  .faq__question {
    padding: 15px 30px;
    font-size: 20px;
  }
  .faq__question .icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .faq__question .icon span {
    width: 20px;
  }
  .faq__answer {
    padding: 0px 60px;
    font-size: 1em;
  }
  .faq__answer-active {
    padding: 20px 60px;
  }
  .choise {
    padding: 50px 0px;
  }
  .choise__wrapper {
    padding-top: 40px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .choise__item {
    padding: 60px 30px 30px 30px;
    font-size: 1em;
    background-size: 30px 30px;
    border-radius: 20px;
  }
  .choise__item:last-child {
    background: #43A1FF url(../img/icons/choise-ok.svg) no-repeat;
    background-position: 95% 20px;
    background-size: 30px 30px;
  }
  .choise h5 {
    margin: 30px 0px 10px 0px;
    font-size: 24px;
  }
  .choise__content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .choise__content-item {
    padding: 20px;
  }
  .choise__content-item .top {
    margin-bottom: 20px;
  }
  .choise__content-item .top img {
    margin-right: 20px;
    max-width: 40px;
  }
  .choise__content-item .top h6 {
    font-size: 18px;
  }
  .choise__text {
    flex-direction: column;
    padding-top: 30px;
  }
  .choise__text p {
    font-size: 1em;
    padding-right: 0px;
  }
  .choise__text .main-button {
    margin-top: 20px;
    min-width: 350px;
  }
  .choise .animate-up:nth-child(1) {
    transition-delay: 0s;
  }
  .choise .animate-up:nth-child(2) {
    transition-delay: 0.3s;
  }
  .choise .animate-up:nth-child(3) {
    transition-delay: 0.6s;
  }
  .option {
    padding: 50px 0px 60px 0px;
  }
  .option__wrapper {
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .option__wrapper a {
    font-size: 1em;
    text-align: left;
    padding: 60px 20px;
    min-height: 140px;
  }
  .option .animate-up:nth-child(2) {
    transition-delay: 0.3s;
  }
  .option .animate-up:nth-child(3) {
    transition-delay: 0.6s;
  }
  .option .animate-up:nth-child(4) {
    transition-delay: 0.9s;
  }
  .option .animate-up:nth-child(5) {
    transition-delay: 1.2s;
  }
  .option .animate-up:nth-child(6) {
    transition-delay: 1.5s;
  }
  .footer {
    padding: 30px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding-bottom: 30px;
  }
  .footer__logo h3 {
    text-align: left;
    font-size: 24px;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .footer__column:last-child {
    grid-column-start: span 2;
  }
  .footer span.copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
  }
  .footer__nav a {
    display: block;
    margin-bottom: 15px;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    font-size: 20px;
  }
  .footer__nav a:last-child {
    margin-bottom: 0;
  }
  .footer__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__contacts-social a {
    display: block;
    margin: 8px;
    padding-left: 30px;
    position: relative;
  }
  .footer__contacts-social a.telegram:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icons/telegram-white.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .pages {
    padding: 50px 0px;
  }
  .pages h4 {
    margin-bottom: 30px;
  }
  .pages p {
    font-size: 1em;
  }
  .pages__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .pages__wrapper img {
    min-width: 300px;
    max-width: 300px;
    display: block;
    margin: 20px auto;
  }
  .pages-category-wrapper {
    grid-template-columns: 1fr;
  }
  .pages-category-img {
    position: relative;
  }
  .pages-category-img img {
    min-width: 600px;
    max-width: 600px;
    display: block;
    margin: 0px auto;
  }
  .list {
    padding: 50px 0px;
  }
  .list__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding-bottom: 50px;
  }
  .list__item {
    display: flex;
    flex-direction: column;
  }
  .list__item-top {
    display: flex;
    align-items: center;
  }
  .list__item img {
    margin-right: 50px;
    max-width: 80px;
  }
  .list__item p {
    font-size: 20px;
    padding-left: 130px;
  }
  .list__item h5 {
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    font-size: 40px;
  }
  .list__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .list__card {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .list__card img {
    margin-right: 20px;
    max-width: 80px;
  }
  .list__card h5 {
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    font-size: 28px;
  }
  .list__card p {
    font-size: 1em;
  }
  .stage {
    padding: 50px 0px;
  }
  .stage__wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .stage__item {
    background: #FFFFFF;
    border: 5px solid #43A1FF;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
  }
  .stage__item-num {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -5px;
    left: -5px;
    background: #43A1FF;
    border: 5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    font-size: 24px;
  }
  .stage__item span {
    display: block;
    margin-top: 20px;
  }
  .stage__item:before {
    content: '';
    height: 5px;
    width: 50px;
    background: #43A1FF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -95px;
  }
  .stage__item:last-child {
    border: 5px solid #FFA843;
  }
  .stage__item:last-child .stage__item-num {
    background: #FFA843;
  }
  .stage__item:last-child::before {
    display: none;
  }
  .send {
    margin: 50px 0px;
  }
  .send__wrapper {
    border-radius: 20px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  }
  .send__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }
  .send__trigger {
    font-size: 24px;
  }
  .send .today {
    display: inline;
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: normal;
    line-height: 120%;
  }
  .send__button {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 80px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #f4f4f4;
  }
  .send__button-img {
    padding: 20px;
    background: #f4f4f4;
  }
  .send__button-img img {
    max-width: 40px;
  }
  .send__button-text {
    font-size: 18px;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    padding: 0px 30px;
    color: #000;
  }
  .send__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 730px) {
  .animate-up {
    transition-delay: 0s !important;
  }
  .container {
    padding: 0px 10px;
  }
  .main-button {
    border: none;
    background: linear-gradient(94.11deg, #43A1FF 46.65%, #65B0FC 77.8%, #43A1FF 105.29%);
    border-radius: 20px;
    color: #fff;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    font-size: 20px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 1em;
  }
  a.header__feedback {
    font-size: 14px;
    padding: 16px 11px;
    margin-left: 20px;
  }
  .header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 100vw;
    overflow: hidden;
  }
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }
  .header__logo {
    display: none;
  }
  .header__telegram {
    margin-left: auto;
  }
  .header__telegram img {
    max-width: 50px;
  }
  .header__menu {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 20;
  }
  .header__menu span {
    display: block;
    width: 50px;
    height: 4px;
    background: #000;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
  }
  .header__menu-close {
    overflow: hidden;
  }
  .header__menu-close span:nth-child(2) {
    transform: translateX(-120%);
    transition: 0.3s all ease-in-out;
  }
  .header__menu-close span {
    position: absolute;
  }
  .header__menu-close span:first-child {
    transform: rotate(45deg);
    transition: 0.5s all ease-in-out;
  }
  .header__menu-close span:last-child {
    transform: rotate(-45deg);
    transition: 0.5s all ease-in-out;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 800px;
    width: 150px;
    background: #fff;
    transform: translateX(-100%);
    transition: 0.3s all ease-in-out;
    z-index: 5;
  }
  .nav .container {
    padding: 0;
  }
  .nav__items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    position: relative;
  }
  .nav__item {
    min-width: 100%;
    border-right: none;
    border-bottom: 1px solid #E6E6E6;
    min-height: 60px;
    max-height: 60px;
  }
  .nav__wrapper {
    position: relative;
  }
  .nav-show {
    transform: translateX(0);
  }
  .menu__items {
    top: 0px;
    left: 150px;
    position: absolute;
  }
  .menu__item {
    min-width: 150px;
    background: #fff;
    border: 1px solid #E6E6E6;
    top: 0;
    transform: scaleX(0) scaleY(1);
    transform-origin: left;
  }
  .menu__item ul li a:last-child {
    border-bottom: 1px solid #E6E6E6;
  }
  .menu__item-show {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    transition-delay: 0.2s;
  }
  .main {
    overflow: hidden;
    margin-top: 0px;
  }
  .main__wrapper {
    min-height: 500px;
  }
  .main__wrapper h1 {
    max-width: 300px;
    font-size: 26px;
  }
  .main__wrapper h1 .typing__wrapper {
    min-height: 80px;
  }
  .main__wrapper h2 {
    max-width: none;
    font-size: 1em;
    margin-bottom: 30px;
  }
  .main video.destkop {
    display: none;
  }
  .main video.mobile {
    display: block;
    min-width: 100%;
    top: 0;
  }
  .services {
    padding: 50px 0px;
    overflow: hidden;
  }
  .services__wrapper {
    padding: 50px 0px 0px 0px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .steps {
    padding: 50px 0px;
    overflow: hidden;
  }
  .steps p {
    font-size: 1em;
    margin-top: 30px;
  }
  .steps__wrapper {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .steps__item img.icon {
    position: absolute;
    right: 15px;
    top: 30px;
  }
  .steps__item h6 {
    font-size: 28px;
  }
  .safe {
    padding: 50px 0px;
    overflow: hidden;
  }
  .safe p {
    font-size: 1em;
    margin-top: 40px;
  }
  .safe__wrapper img {
    display: none;
  }
  .advantage {
    overflow: hidden;
    padding: 50px 0px;
  }
  .advantage__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 50px 0px;
  }
  .advantage__item {
    padding: 30px 20px;
  }
  .advantage__item span.num {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .advantage__item span.text {
    font-size: 1em;
  }
  .advantage__content img {
    display: none;
  }
  .advantage__text {
    padding-right: 0px;
  }
  .advantage__text p {
    font-size: 1em;
  }
  .faq {
    overflow: hidden;
    padding: 50px 0px;
  }
  .faq__wrapper {
    padding-top: 50px;
  }
  .faq__question {
    padding: 15px;
    font-size: 18px;
  }
  .faq__question .icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .faq__question .icon span {
    width: 20px;
    height: 2px;
  }
  .faq__answer {
    padding: 0px 50px;
    font-size: 1em;
  }
  .faq__answer-active {
    padding: 20px 50px;
  }
  .usl {
    overflow: hidden;
    padding: 50px 0px;
  }
  .usl__wrapper {
    padding-top: 50px;
    flex-direction: column;
  }
  .usl__content h6 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .usl__content ul {
    margin-bottom: 30px;
  }
  .usl__content ul li {
    font-size: 16px;
  }
  .usl img {
    margin-top: 30px;
  }
  .usl .main-button {
    width: 100%;
  }
  .choise {
    overflow: hidden;
    padding: 50px 0px;
  }
  .choise__wrapper {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .choise__item {
    padding: 90px 30px 30px 30px;
    font-size: 1em;
    background-size: 40px 40px;
  }
  .choise__item:last-child {
    background-size: 40px 40px;
  }
  .choise h5 {
    margin: 30px 0px 15px 0px;
    font-size: 18px;
  }
  .choise__content {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .choise__text {
    flex-direction: column;
    padding-top: 30px;
  }
  .choise__text p {
    font-size: 1em;
    padding-right: 0px;
  }
  .choise__text .main-button {
    margin-top: 20px;
    min-width: 100%;
  }
  .option {
    overflow: hidden;
    padding: 50px 0px 60px 0px;
  }
  .option__wrapper {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .option__wrapper a {
    font-size: 1em;
    text-align: left;
    padding: 60px 20px;
    min-height: 140px;
  }
  .footer {
    overflow: hidden;
    padding: 30px 0px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-bottom: 50px;
  }
  .footer__column:first-child {
    grid-row-start: 3;
  }
  .footer__column:last-child {
    grid-row-start: 1;
  }
  .footer__logo h3 {
    text-align: left;
    font-size: 18px;
  }
  .footer__nav a {
    display: block;
    margin-bottom: 15px;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: normal;
    line-height: 120%;
    font-size: 20px;
  }
  .footer__nav a:last-child {
    margin-bottom: 0;
  }
  .footer__contacts a.header__feedback {
    text-align: center;
  }
  .main-pages__wrapper {
    margin-top: 50px;
    min-height: 500px;
  }
  .main-pages__wrapper h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .main-pages img {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    max-width: none;
    height: 100%;
  }
  .main-pages-destkop {
    display: none;
  }
  .main-pages-mobile {
    display: block;
  }
  .pages {
    padding: 50px 0px;
  }
  .pages h4 {
    margin-bottom: 30px;
  }
  .pages p {
    font-size: 1em;
  }
  .pages__wrapper {
    padding-top: 30px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .pages img.car {
    display: none;
  }
  .pages .buttons {
    max-width: 100%;
  }
  .list {
    padding: 50px 0px;
  }
  .list__wrapper {
    grid-gap: 40px;
    padding-bottom: 50px;
  }
  .list__item-top {
    margin-bottom: 20px;
  }
  .list__item img {
    margin-right: 20px;
    max-width: 50px;
  }
  .list__item p {
    font-size: 1em;
    padding-left: 0px;
  }
  .list__item h5 {
    font-size: 22px;
  }
  .list__content {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .list__card {
    margin-top: 30px;
  }
  .list__card img {
    margin-right: 20px;
    max-width: 60px;
  }
  .list__card h5 {
    font-size: 22px;
  }
  .list__card p {
    font-size: 16px;
  }
  .stage {
    padding: 50px 0px;
  }
  .stage__wrapper {
    padding-top: 15px;
    flex-direction: column;
  }
  .stage__item {
    margin: 15px 0px;
  }
  .stage__item:before {
    display: none;
  }
  .send {
    margin: 50px 0px;
  }
  .send__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .send__content {
    padding: 50px 30px;
  }
  .message {
    bottom: 10px;
    width: 95%;
    height: 100px;
    background: #fff;
  }
  .message__img {
    min-width: 60px;
  }
  .message__img img {
    max-width: 30px;
  }
  .message__text {
    padding: 5px 10px;
    min-width: 80%;
    max-height: 80%;
  }
  .message__text-new {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .message__text-text {
    font-size: 12px;
  }
  .message__link {
    font-size: 14px;
  }
  .popup__body {
    width: 95%;
    height: 400px;
    padding: 30px;
  }
  .popup__header {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .popup__trigger {
    font-size: 22px;
    max-width: 90%;
  }
  .popup__button {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .popup__button-text {
    padding: 0px 20px;
  }
  .circle {
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    background-size: 20px 20px;
  }
  .circle:before {
    content: '';
    width: 54px;
    height: 54px;
    background-size: cover;
    z-index: 999;
  }
  .circle-up {
    bottom: 120px;
  }
  .feedback__photo {
    padding: 50px 0px;
  }
  .feedback__photo-wrapper {
    padding-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .feedback__video {
    padding: 50px 0px;
  }
  .feedback__video-wrapper {
    padding-top: 30px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 30px;
  }
}
@media (max-width: 361px) {
  a.header__feedback {
    margin-left: 7px;
    padding: 16px 7px;
  }
}
@media (max-width: 321px) {
  a.header__feedback {
    font-size: 12px;
    padding: 16px 5px;
    margin-left: 10px;
  }
  .services__item h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .services__item span.text {
    font-size: 14px;
  }
}
